<div>
	<div class="container">
		<div id="Main">
			<div class="row" style="margin: 12px;">
				<div class="col-lg-5 col-xs-6">
					<h3>Welcome, {{$ctrl.me.username}}!</h3>
				</div>
				<div class="col-lg-4 col-xs-0">
				</div>
				<div class="col-lg-3 col-xs-6" style=" text-align: right">
					<button class="btn btn-primary" data-toggle="modal" data-target="#inte" style="border: 0; background-color: #FFF; color: #777; margin-top: 12px">
						<span class="glyphicon glyphicon-plus"></span><br>New App
					</button>
				</div>
			</div>
		</div>
		<!-- <div id="Detail">
			<div class="row" style="margin-top: 20px;padding: 10px 20px 20px;">
				<div class="col-lg-12">
					<h4 style="border-bottom: 1px solid #afafaf">Android</h4>
					<div ng-repeat="app in $ctrl.androidApps">
						<div class="col-lg-4 app" style="padding: 0 5px;">
							<button ui-sref="app({appId: app._id})" class="btn btn-primary" style="margin: 5px;background-color: #FFF; text-align: left; color: #777; width: 100%">
								<img class="pull-left" src="img/android_icon.png"/>
								
								<div class="pull-left" style="margin: 5px">
									{{app.name}}<br>
									<div style="font-size: 80%">API Key: {{app.apikey}}</div>
								</div>
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row" style="margin-top: 20px;padding: 10px 20px 20px;">
				<div class="col-lg-12">
					<h4 style="border-bottom: 1px solid #afafaf">Linux</h4>
					<div ng-repeat="app in $ctrl.linuxApps">
						<div class="col-lg-4 app" style="padding: 0 5px;">
							<button ui-sref="app({appId: app._id})" class="btn btn-primary" style="margin: 5px;background-color: #FFF; text-align: left; color: #777; width: 100%">
								<img class="pull-left" src="img/linux_icon.png"/>
								
								<div class="pull-left" style="margin: 5px">
									{{app.name}}<br>
									<div style="font-size: 80%">API Key: {{app.apikey}}</div>
								</div>
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row" style="margin-top: 20px;padding: 10px 20px 20px;">
				<div class="col-lg-12">
					<h4 style="border-bottom: 1px solid #afafaf">Windows</h4>
					<div ng-repeat="app in $ctrl.windowsApps">
						<div class="col-lg-4 app" style="padding: 0 5px;">
							<button ui-sref="app({appId: app._id})" class="btn btn-primary" style="margin: 5px;background-color: #FFF; text-align: left; color: #777; width: 100%">
								<img class="pull-left" src="img/windows2_icon.png"/>
								
								<div class="pull-left" style="margin: 5px">
									{{app.name}}<br>
									<div style="font-size: 80%">API Key: {{app.apikey}}</div>
								</div>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Modal -->
			<div class="modal fade" id="inte" role="dialog">
				<div class="modal-dialog">
				
				<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">New App</h4>
						</div>
						<div class="modal-body">
							<form data-ng-hide="$ctrl.createdNewApp">
								<div class="form-group">
									<label for="newAppPlatform">Platform</label>
									<select data-ng-model="$ctrl.newPlatform" class="form-control" id="newAppPlatform">
										<option value="Android">Android</option>
										<option value="Linux">Linux</option>
										<option value="Windows">Windows</option>
									</select>
								</div>
								<div class="form-group">
									<label for="newAppName">App Name</label>
									<input data-ng-model="$ctrl.newAppName" required class="form-control" id="newAppName" placeholder="App Name">
								</div>
  								<button data-ng-click="$ctrl.createNewApp()" class="btn btn-primary">Create</button>
							</form>
							<div data-ng-show="$ctrl.createdNewApp">
								<p>To see data in Tracepot you need to integrate an <a href="https://github.com/ACRA/acra">Application Crash Reports for Android (ACRA)</a> library to your applications.</p>
								<!--<div class="alert alert-info" style="margin-bottom: 0px; margin-top: 15px;">
									https://collector.tracepot.com/95f9e0ef Generated     (http also available)
								</div>-->
								<pre class="alert-info">{{$ctrl.protocol}}//{{$ctrl.hostname}}/{{$ctrl.newAPIKey}}</pre>
							</div>
						</div>
						<!--<div class="modal-footer" style="text-align:left ;font-size: 10px;">
							To integrate ACRA into your applications <a href="https://github.com/ACRA/acra/wiki/BasicSetup">follow these simple steps</a> and use the url above for the <span class="label label-info">formUri</span> field. When your applications start sending crashes they will be automatically created and displayed in the <a href="#">"Applications"</a> section. <br>
							For ACRA Advanced Usage <a href="https://github.com/ACRA/acra/wiki/AdvancedUsage">follow this link</a>. Tracepot support all report fields in v4.9. Crashes can be sent via POST or PUT request and as FORM or JSON encoded data.
						</div>-->
					</div>
				</div>
			</div> -->
	</div>
</div>